<div class="container">
    <div class="row">
        <div class="col">
            <h1>Nasapp</h1>

            <p></p>
        </div>
        <div class="col">
            <h1>HOla</h1>
        </div>
    </div>
</div>
<footer class="position-absolute col-12">
    <div class="container">
        <div class="column text-center">
            <div class="col">
                <p>More about my work <a href="https://AlexChavezz.github.io/PORTAFOLIO" target="_BLANCK">HERE!</a></p>
            </div>
            <div class="col">
                <p>&copy development by Alexis. All rights reserved</p>
            </div>
        </div>
    </div>
</footer>