<article>
    <form class="form">
        <div>
            <label>Year:</label>
            <input type="text" class="input-text" id="year" placeholder="YYYY"/>
        </div>
       <div>
           <label>Month:</label>
           <input type="text" class="input-text" id="month" placeholder="MM" />
       </div>
       <div>
        <label>Day:</label>
        <input type="text" class="input-text" id="day" placeholder="DD"/>
       </div>
        
        <input type="submit" value="send" class="btn btn-primary"/>
    </form>
    <div class="container-content" >
        <div class="image">
            <div class="target"></div>
        </div>
        <div>
            <h2 class="title"></h2>
            <span class="date"></span>
        </div>
        
        <div>
            <p class="description"></p>
            <span class="copy">  </span>
        </div>
    </div>
</article>