*{
    padding: 0px;
    margin: 0px;
    outline:none;
    color:black;
    font-family: 'Roboto', sans-serif;
}
nav{
    height:7vh;
    background-color:#181818;
    color:white;
    
    /*display: flex;
    align-items: center;
    justify-content:center;
    background-color:#181818;

    a{
        text-decoration: none;
        color:white;
        padding: 10px 20px;
        border: 1px solid #ccc;
    }*/
}

#root{
    width:90%;
    margin:0px auto;
    height:93vh;
    background-color:white;
    color:white;
   
    article{

        form{
            height:100px;
            width:80%;
            display:grid;
            grid-template-columns: repeat(3,1fr);
            margin:0px auto;
            color:black;
            font-weight: bold;
        }
        form input {
            margin:10px;   
            padding:3px;  
            border:1px solid #ccc;       
        }
        form input[type="submit"]{
            grid-column: 2/3;
            width:60%;
            margin: 0px auto;
        }
       
        .container-content{
            .image img {
                display:block;
                width:400px;
                margin:20px auto;
                b{
                    font-weight:bold;

                }
            }
            .image img:hover target {
                background-color:black;
                height:100%;
                position:absolute;
            }
        }
    }
    footer{
        height:120px;
        left:0px;
        bottom:0px;
        font-weight:bold;
        letter-spacing:1px;
        background-color: #181818;
        p{
            color:white;
            padding:10px;
        }
    }
    div div h2{
        font-size:35px;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
}